#!/bin/sh
# Copyright 2017 Wazo Team (see the AUTHORS file)
# SPDX-License-Identifier: GPLv3

case "$1" in
    build)
	python setup.py bdist -d dist/python2
	python3 setup.py bdist -d dist/python3
    ;;

    package)
	tar xvf dist/python2/wazo_mobile-*.tar.gz -C ${pkgdir}
        tar xvf dist/python3/wazo_mobile-*.tar.gz -C ${pkgdir}
        cp -R etc ${pkgdir}/
    ;;

    install)
	systemctl restart wazo-auth
	systemctl restart wazo-webhookd
    ;;

    uninstall)
	systemctl restart wazo-auth
	systemctl restart wazo-webhookd
    ;;

    postrm)
    ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac
